<div>
    <hr>
    <div class="row">
        <ul>
        <div *ngFor='let tick of insta;let i = index'>
          <div>
            <li>{{tick.quote}}</li>
          <button (click)='toggleDetails(i)' class="btn btn-warning">More</button>
          </div>
          <div *ngIf='tick.showQuote'>
              <app-vote-detail [tick]='insta' (isComplete) = 'deleteLike($event,i)'></app-vote-detail>
          </div>
        </div>
      </ul>
    </div>
    <div>
        <app-vote-form (addLike)="addNewLike($event)"></app-vote-form>
      </div>
  </div>
